
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    background-image: url(./assets/Interface=Mobile\,\ Theme=Dark\ mode.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /* background: color image repeat position/size */
    background: url(./assets/Interface=Mobile\,\ Theme=Dark\ mode.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

#container {
    width: 360px;
    margin: 56px auto 0; /* 56px: em cima, auto: nos lados, 0: em baixo. */
    /* para entender como está posicionado o container, basta utilizar o elemento border. */
}

#profile {
    text-align: center;
    padding: 24px; /* padding: define a distancia de um elemento a sua borda. */
}

#profile img {
    width: 112px; 
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* links */

ul {
    list-style: none;

}

ul li a {
    border:  1px solid red;

    display: flex; /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
    align-items: center; /* alinha o elemento na horizontal */
    justify-content: center; /* alinha o elemento na horizontal */

    padding: 16px 24px;
}